* {
  background-color: #ffb3da;
}
  .kittehImage {
    display: block;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
 
  
  }

  a:link {
    display:block;
    text-align:center;
    text-decoration: none;
    font-family: 'Eater', cursive;
    font-size: 80px;
    color: #b30000;
  }
    
    a:visited {
      text-decoration: none;
      color: #b30000;
    }
    
    a:hover {
      text-decoration: none;
      color: #b30000;
    }
    
    a:active {
      text-decoration: none;
      color: #b30000;
    }